#!/usr/bin/bash

### Settings will be stored in pass pattern path like: ${SECRET_STORE_PREFIX}/${PROJECT}/${ENV}/${VAR}
### See https://github.com/Hubbitus/shell.scripts/commit/d4e60259f430f2d90401f3eca05455a57ae900d3 (~/bin/secret)
### Note, even place tahat fiel into project without any options as a marker is very helpfull! Please see usage of scripts `secret/get`, `secret/set`, `secret/bash-export`

# PROJECT=some project
# SECRET_DEBUG=true
